
# Requirements File

fastapi==0.78.0
uvicorn==0.17.6
psycopg2-binary==2.9.3
python-dotenv==0.20.0
python-keycloak==0.30.0
confluent-kafka==1.8.2
docker==5.0.3
boto3==1.22.5
terraform==1.2.9
pytest==7.1.2
sphinx==5.0.2